		<div id="head">
	<div id="header_links">
		<p id="acces">
			<a href="#content">Contenu</a> &middot; <a href="#search">Recherche</a>
			<span id="icons">
        <a href="http://2011.rmll.info/spip.php?action=converser&amp;redirect=%2F&amp;var_lang=fr" dir="ltr" title="fran&#231;ais">
          <img src="http://2011.rmll.info/squelettes/images/drapeaux/fr.png" alt="français">
        </a>
				<a href="http://2011.rmll.info/spip.php?action=converser&amp;redirect=%2F&amp;var_lang=en" dir="ltr" title="English site">
					<img src="http://2011.rmll.info/squelettes/images/drapeaux/en.png" alt="english">
				</a>
				<a href="http://2011.rmll.info/spip.php?page=backend&amp;lang=fr">
				  <img src="http://2011.rmll.info/squelettes/images/rss.png" alt="rss" />
				</a>
			</span>
		</p>
		<ul id="menu1">
			<li><a href="http://2011.rmll.info/spip.php">Accueil</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique1" title="">Actualités</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique27" title="">Presse</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique28" title="">Village Associatif</a></li>
			<li><a href="http://2011.rmll.info/spip.php?article3">Partenaires et sponsors</a></li>
			<li><a href="http://2011.rmll.info/spip.php?page=plan">Plan du site</a></li>
			<li><a href="http://2011.rmll.info/spip.php?article7">Contact</a></li>
			<!--<li>
				<a href="http://2011.rmll.info/spip.php?page=rmll_progcount"></a>
				<a href="http://2011.rmll.info/spip.php?page=linuxfr"></a>
				<a href="http://2011.rmll.info/spip.php?page=rmll_test"></a>
			</li>-->
		</ul>
	</div>
	<div id="header_bg">
	  <h1>
	    <a href="http://2011.rmll.info/spip.php" title="Accueil - 12es Rencontres Mondiales du Logiciel Libre">
	      <img src="http://2011.rmll.info/squelettes/images/rmll_strasbourg.png" alt="Accueil - 12es Rencontres Mondiales du Logiciel Libre">
	    </a>
	  </h1>
		<p>9 au 14 juillet 2011 - Strasbourg, libre sans frontières</p>
	</div>

<!--	<form id="search" action="http://2011.rmll.info/spip.php?page=recherche" method="get">
		<input name="page" value="recherche" type="hidden" />
		<input class="text" type="text" name="recherche" value="Recherche" onfocus="this.select();" /><input class="img" type="image" src="squelettes/images/btn_recherche.png" value="ok" />
</form>-->
	<ul id="menu2">
		<li><a href="http://2011.rmll.info/-Les-RMLL-" title="">Les RMLL</a></li>
		<li><a href="http://2011.rmll.info/-Programme-" title="">Programme</a></li>
		<li class="long"><a href="http://2011.rmll.info/-Informations-pratiques-">Informations<br />pratiques</a></li>
		<li><span>Réservation</span></li>
		<li><a href="http://2011.rmll.info/spip.php?page=osm" title="">Plan</a></li>
	</ul>
</div>

