		<div id="head">
	<div id="header_links">
		<div id="acces">
			<a href="#content">Contenu</a> &middot; <a href="#search">Recherche</a>
			<div id="icons">
				
					<a href="http://2011.rmll.info/spip.php?action=cookie&amp;url=spip.php%3Frubrique21&amp;var_lang=fr" dir="ltr" title="fran&#231;ais">
					<a href="http://2011.rmll.info/spip.php?action=cookie&amp;url=%2F&amp;var_lang=fr" dir="ltr" title="fran&#231;ais">
						<img src="squelettes/images/drapeaux/fr.png" alt="fran&#231;ais" />
					</a>
				
				<a href="http://2011.rmll.info/spip.php?page=backend&amp;lang=fr"><img src="squelettes/images/rss.png" alt="rss" /></a>
			</div>
		</div>
		<ul id="menu1">
			<li><a href="http://2011.rmll.info/spip.php">Accueil</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique1" title="">Actualités</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique27" title="">Presse</a></li>
			<li><a href="http://2011.rmll.info/spip.php?rubrique28" title="">Village Associatif</a></li>
			<li><a href="http://2011.rmll.info/spip.php?article3">Partenaires et sponsors</a></li>
			<li><a href="http://2011.rmll.info/spip.php?page=plan">Plan du site</a></li>
			<li><a href="http://2011.rmll.info/spip.php?article7">Contact</a></li>
			<!--<li>
				<a href="http://2011.rmll.info/spip.php?page=rmll_progcount"></a>
				<a href="http://2011.rmll.info/spip.php?page=linuxfr"></a>
				<a href="http://2011.rmll.info/spip.php?page=rmll_test"></a>
			</li>-->
		</ul>
	</div>
	<div id="header_bg">
		<a id="mainlink" href="http://2011.rmll.info/" title="RMLL (span)12e édition">&nbsp;</a>
		
		<p>9 au 14 juillet 2011 - Strasbourg, libre sans frontières</p>
	</div>

<!--	<form id="search" action="http://2011.rmll.info/spip.php?page=recherche" method="get">
		<input name="page" value="recherche" type="hidden" />
		<input class="text" type="text" name="recherche" value="Recherche" onfocus="this.select();" /><input class="img" type="image" src="squelettes/images/btn_recherche.png" value="ok" />
</form>-->
	<ul id="menu2">
		<li><a href="http://2011.rmll.info/spip.php?rubrique2" title="">Les RMLL</a></li>
		<li><a href="http://2011.rmll.info/spip.php?rubrique6" title="">Programme</a></li>
		<li><a href="http://2011.rmll.info/spip.php?rubrique21">Informations<br />pratiques</a></li>
		<li><span>Réservation</span></li>
		<li><a href="http://2011.rmll.info/spip.php?page=osm" title="">Plan</a></li>
	</ul>
</div>

